/* GLOBAL */
:root{
  --primaryColor: #f30;
}
*{
  box-sizing: border-box;
  font-family: "Microsoft Jhanghei";
}
body, h1, h2, h3, h4, h5, h6, html, img, li, ol, p, ul{
  border: 0;
  margin: 0;
  padding: 0;
}
div{
  color: var(--primaryColor);
}
img{
  vertical-align: top;
  width: 100%;
}
.clearfix::after{
  clear: both;
  content: "";
  display: block;
}

/* GRID FOR DESKTOP */
.fixed-width{
  margin: auto;
  width: 960px;
}
.full-width{
  width: 100%;
}
.col-1{
  width: calc(100% / 12 * 1);
}
.col-2{
  width: calc(100% / 12 * 2);
}
.col-3{
  width: calc(100% / 12 * 3);
}
.col-4{
  width: calc(100% / 12 * 4);
}
.col-5{
  width: calc(100% / 12 * 5);
}
.col-6{
  width: calc(100% / 12 * 6);
}
.col-7{
  width: calc(100% / 12 * 7);
}
.col-8{
  width: calc(100% / 12 * 8);
}
.col-9{
  width: calc(100% / 12 * 9);
}
.col-10{
  width: calc(100% / 12 * 10);
}
.col-11{
  width: calc(100% / 12 * 11);
}
.col-12{
  width: calc(100% / 12 * 12);
}
[class^="col"]{
  float: left;
  padding: 16px;
}
.no-padding{
  padding: 0!important;
}