/* GLOBAL */
:root{
  --primaryColor: #333;
}
*{
  box-sizing: border-box;
  font-family: "Microsoft Jhanghei";
}
a{
  color: var(--primaryColor);
  text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6, html, img, li, ol, p, ul{
  border: 0;
  margin: 0;
  padding: 0;
}
div{
  color: var(--primaryColor);
}
header{
  background-attachment: fixed;
  background-image: url(https://picsum.photos/id/33/1920/1080);
  background-position: center;
  background-size: cover;
  height: 540px;
}
img{
  vertical-align: top;
  width: 100%;
}
li{
  list-style: none;
}
nav{
  background-color: rgba(255, 255, 255, .6);
  padding: 16px 0;
  position: absolute;
  top: 80.8px;
}
nav a{
  display: block;
  padding: 8px 16px;
}
nav .logo{
  float: left;
}
nav .menu{
  float: right;
}
nav .menu li{
  float: left;
}
.btn{
  background-color: var(--primaryColor);
  color: #ccc;
  display: inline-block;
  padding: 8px 16px;
}
.clearfix::after{
  clear: both;
  content: "";
  display: block;
}

/* GRID FOR DESKTOP */
.fixed-width{
  margin: auto;
  width: 960px;
}
.full-width{
  width: 100%;
}
.col-1{
  width: calc(100% / 12 * 1);
}
.col-2{
  width: calc(100% / 12 * 2);
}
.col-3{
  width: calc(100% / 12 * 3);
}
.col-4{
  width: calc(100% / 12 * 4);
}
.col-5{
  width: calc(100% / 12 * 5);
}
.col-6{
  width: calc(100% / 12 * 6);
}
.col-7{
  width: calc(100% / 12 * 7);
}
.col-8{
  width: calc(100% / 12 * 8);
}
.col-9{
  width: calc(100% / 12 * 9);
}
.col-10{
  width: calc(100% / 12 * 10);
}
.col-11{
  width: calc(100% / 12 * 11);
}
.col-12{
  width: calc(100% / 12 * 12);
}
[class^="col"]{
  float: left;
  padding: 16px;
}
.no-padding{
  padding: 0!important;
}
#nav-info{
  background-color: rgba(255, 255, 255, .6);
  position: absolute;
  padding: 16px 0;
}
#nav-info a{
  display: block;
  padding: 8px 16px;
}
#nav-info .addr{
  float: left;
  padding: 8px 16px;
}
#nav-info .register{
  float: right;
}
#nav-info .register li{
  float: left;
}
#nav-info .donate{
  float: right;
}